/* If the screen size is 416px wide or more.. */
@media screen and (min-width: 416px) {
    .avatar-profile-container {
        width: 280px;
        height: 280px;
        margin: auto;
    }

    .row-avatar {
        max-height: 25vh;
    }

    .main {
        margin-top: 15vh;
    }

    .value-title {
        color: white; 
        position: absolute; 
        top: -50px;
        font-size: 2rem;
        font-weight: 600;
        font-family: cursive;
    }
    
    .text-title {
        color: gray; 
        font-size: 2rem;
    }
}

/* If the screen size is 415px wide or less.. */
@media screen and (max-width: 415px) {
    .avatar-profile-container {
        width: 150px;
        height: 150px;
        margin: auto;
    }

    .row-avatar {
        max-height: 20vh;
    }

    .main {
        margin-top: 10vh;
    }

    .value-title {
        color: white; 
        position: absolute; 
        top: -30px; 
        font-size: 1rem;
        font-weight: 600;
        font-family: cursive;
    }
    
    .text-title {
        color: gray; 
        font-size: 1.2rem;
    }
}

/* If the screen size is 450px height or less.. */
@media screen and (max-height: 450px) {
    .avatar-profile-container {
        width: 200px;
        height: 200px;
        margin: auto;
    }

    .row-avatar {
        max-height: 40vh;
    }
}

/* If the screen size is 350px width or less.. */
@media screen and (max-width: 360px) {
    .avatar-profile-container {
        width: 150px;
        height: 150px;
        margin: auto;
    }

    .row-avatar {
        max-height: 22vh;
    }
}

.cc-header-logo {
    display: block; 
    padding: 10px;
}

.main-raised {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.main {
    background: white;
    position: relative;
    z-index: 3;
}

.profile-page {
    background-color: #212429;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img-raised {
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

.title {
    margin-top: 15px;
    margin-bottom: 10px;
    min-height: 32px;
    color: gray;
    font-weight: 700;
}

.img-fluid {
    max-height: 250px;
}

.student-info {
    margin-bottom: 25px; 
    display: block;
    padding-bottom: 20px;
}

.left-student-info {
    text-align: end; 
    padding: 0;
}

.right-student-info {
    text-align: start; 
    padding: 0 0 0 5px; 
    font-weight: 500;
}

.loading-student-info {
    min-height: 150px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #3C4858;
    font-weight: 500;
    font-size: 1.5rem;
}
