.rounded-rank-avatar {
    border-radius: 50%!important;
    width: 100%; 
    height: 100%;    
}

.first-place-border {
    border: 6px solid #fff48e;
}

.second-place-border {
    border: 4px solid silver;
}

.third-place-border {
    border: 4px solid #cd7f32;
}

.default-border {
    border: 4px solid #7ecefd;
}

.rank-badge {
    position: absolute; 
    bottom: -5px; 
    right: -10px;
    height: 35%;
}

.rank-container {
    position: relative;
}
