<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card cc-card-auth my-5">
                <div class="card-body">
                    <span class="fa-stack fa-4x cc-contact-question">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                    </span>
                    <h1 class="card-title text-center"><b>Estamos para ayudarte</b></h1>
                    <h4 class="card-title text-center">Envianos un correo a <b>admin@cubiccoding.mx</b> y con gusto atenderemos a tu solicitud.</h4>
                    <h4 class="card-title text-center">También puedes visitar nuestra página <a href="https://www.cubiccoding.mx"  target="_blank"><b>cubiccoding.mx</b></a> para mayor información sobre nosotros.</h4>
                    <a class="fa-stack fa-3x cc-contact-back" [routerLink]="['sign-in']"><i
                            class="fa fa-arrow-left" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
