<div @fade *ngIf="challenges && challenges.length > 0">
    <div *ngFor="let challenge of challenges">
        <div class="row test-header">
            <div class="col-6 text-left">Score: {{challenge.maxScore * challenge.scoredRatio}}/{{challenge.maxScore}}</div>
            <div class="col-6 text-right">{{challenge.createdDate | date:'short'}}</div>
        </div>
        <div class="col-12 question-title">{{challenge.questionTitle}}</div>
        <div class="auto-margin">
            <div>
                <label class="btn btn-block" [ngClass]="calculateChallengeColor(challenge.scoredRatio)">{{challenge.description}}</label>
            </div>
        </div>
        <hr>
    </div>
</div>
<div @fade *ngIf="!challenges || challenges.length == 0">
    ¡Vuelve aquí cuando hayas participado en retos!
</div>
