<div *ngIf="loadingScoreHistory">
    <span class="spinner-border spinner-border-lg" role="status" aria-hidden="true"></span>
    <h5>Cargando información...</h5>
</div>
<div @fade *ngIf="challenges && challenges.length > 0  && !loadingScoreHistory">
    <div *ngFor="let challenge of challenges">
        <div class="row test-header">
            <div class="col-6 text-left">Score: {{calculateScore(challenge.maxScore, challenge.scoredRatio)}}/{{challenge.maxScore}}</div>
            <div class="col-6 text-right">{{challenge.createdDate | date:'dd/MM/yyyy hh:mm'}}</div>
        </div>
        <div class="col-12 question-title">{{challenge.questionTitle}}</div>
        <div class="auto-margin">
            <div>
                <label class="btn btn-block" [ngClass]="calculateChallengeColor(challenge.scoredRatio)">{{challenge.description}}</label>
            </div>
        </div>
        <hr>
    </div>
</div>
<div @fade *ngIf="!challenges || challenges.length == 0  && !loadingScoreHistory">
    ¡Este usuario aún no ha participado en retos!
</div>
