<div *ngIf="loadingScoreHistory">
    <span class="spinner-border spinner-border-lg" role="status" aria-hidden="true"></span>
    <h5>Cargando información...</h5>
</div>
<div @fade *ngIf="multipleOptions && multipleOptions.length > 0 && !loadingScoreHistory">
    <div *ngFor="let multipleOption of multipleOptions">
        <div class="row test-header">
            <div class="col-6 text-left">Score: {{calculateScore(multipleOption.maxScore, multipleOption.scoredRatio)}}/{{multipleOption.maxScore}}</div>
            <div class="col-6 text-right">{{multipleOption.createdDate | date:'dd/MM/yyyy hh:mm'}}</div>
        </div>
        <div class="col-12 question-title">{{multipleOption.questionTitle}}</div>
        <div class="auto-margin">
            <div *ngFor="let option of multipleOption.options; index as idx">
                <label class="btn btn-block" [ngClass]="calculateAnswerColor(idx, multipleOption.userAnswers, multipleOption.answers)">{{option}}</label>
            </div>
        </div>
        <hr>
    </div>
</div>
<div @fade *ngIf="!multipleOptions || multipleOptions.length == 0 && !loadingScoreHistory">
    ¡Este usuario aún no ha contestado preguntas!
</div>
