<div *ngIf="multipleOptions && multipleOptions.length > 0">
    <div *ngFor="let multipleOption of multipleOptions">
        <div class="row test-header">
            <div class="col-6 text-left">Score: {{multipleOption.maxScore * multipleOption.scoredRatio}}/{{multipleOption.maxScore}}</div>
            <div class="col-6 text-right">{{multipleOption.createdDate | date:'short'}}</div>
        </div>
        <div class="col-12 question-title">{{multipleOption.questionTitle}}</div>
        <div class="auto-margin">
            <div *ngFor="let option of multipleOption.options; index as idx">
                <label class="btn btn-block" [ngClass]="calculateAnswerColor(idx, multipleOption.userAnswers, multipleOption.answers)">{{option}}</label>
            </div>
        </div>
        <hr>
    </div>
</div>
<div *ngIf="!multipleOptions || multipleOptions.length == 0">
    ¡Vuelve aquí cuando hayas contestado algunas preguntas!
</div>
