<body class="d-flex flex-column">
    <!-- TODO display only when user is logged in -->
    <!-- <header class="py-4 text-white-50 cc-blue-background">
        <div class="text-center">
            <small>Header</small>
        </div>
    </header> -->
    <div id="page-content">
        <div class="container text-center">
            <div style="position: relative;" [@routeAnimations]="prepareRoute(outlet)" >
                <router-outlet #outlet="outlet"></router-outlet>
            </div>            
        </div>
    </div>
    <!-- <footer class="py-4 text-white-50 cc-blue-background">
        <div class="text-center">
            <small>Footer</small>
        </div>
    </footer> -->
</body>
