html, body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

.cc-nav-background {
    background-color: #29475f;
}

.btn-primary {
    background-color: #2f88a7 !important;
    border-color: #2f88a7 !important;
}

.cc-card-auth {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.cc-card-auth .card-title {
    font-weight: 300;
    font-size: 1.5rem;
}

.cc-card-auth .card-body {
    padding: 2rem;
}

.cc-form-auth .btn {
    font-size: 100%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    transition: all 0.2s;
    margin-bottom: 1rem;
}

.form-label-group {
    position: relative;
    margin-bottom: 2rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.is-invalid {
    color: red;
    height:0px
}

.toast-top-center {
    top: 12px !important;
}

.avatar-profile-container {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -o-transform: translate3d(0,-50%,0);
    -ms-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

.rounded-circle {
    border-radius: 50%!important;
}

.auto-margin {
    margin: auto;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}
