.cc-rounded-button {
    background-color: #2f88a7;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    border-radius: 50%;
}

.cc-rounded-button-label {
    display: block;
    font-size: 0.9rem !important;
}
