<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card cc-card-auth my-5">
                <picture>
                    <img src="assets/images/CubicCoding1x.png" class="img-fluid" alt="CubicCoding">
                </picture>
                <div class="card-body">
                    <h5 class="card-title text-center">Iniciar Sesión</h5>
                    <form class="cc-form-auth needs-validation" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                        <div class="form-label-group">
                            <input type="text" id="username" formControlName="username" class="form-control"
                                placeholder="Usuario" required autofocus [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                            <div *ngIf="submitted && f.username.errors" class="is-invalid">
                                <div *ngIf="f.username.errors.required">Usuario es requerido</div>
                            </div>
                        </div>
                        <div class="form-label-group">
                            <input type="password" id="password" formControlName="password" class="form-control"
                                placeholder="Contraseña" required [ngClass]="{ 'is-invalid': submitted && f.password.errors }">                                
                                <div *ngIf="submitted && f.password.errors" class="is-invalid">
                                    <div *ngIf="f.password.errors.required">Contraseña es requerida</div>
                                </div>
                        </div>
                        <button [disabled]="loading" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            {{ loading ? 'Iniciando sesion...' : 'Iniciar sesión' }}</button>
                        <div *ngIf="error" class="alert alert-danger" role="alert">
                            {{error}}
                        </div>
                    </form>

                    <div class="row">
                        <div class="col-6">
                            <button id="voucherButton" class="button cc-rounded-button"
                                [routerLink]="['/voucher']"><span class="fa fa-shield fa-lg"
                                    aria-hidden="true"></span></button>
                            <label class="cc-rounded-button-label" for="voucherButton">Usa tu Voucher</label>
                        </div>
                        <div class="col-6" style="padding: 0;">
                            <button id="infoButton" class="button cc-rounded-button" [routerLink]="['/contact']"><span
                                    class="fa fa-question-circle fa-lg" aria-hidden="true"></span></button>
                            <label class="cc-rounded-button-label" for="infoButton">¿Necesitas Ayuda?</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>